@tailwind components;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 transition duration-200 active:bg-gray-200 ease-out;
  }
}
